{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color:black;
}
body{
    font-family: fantasy;
    background:url("go.jpg");
    background-position: 60% 30% ;
    color: rgb(104, 112, 112);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
}
img{
    width: 40px;
}
input[type="checkbox"]
{
    display: none;
}
nav{
    background-color: rgba(16, 16, 16,.8);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .3s;
}
input[type="checkbox"]:checked ~ nav
{
    transform: translateX(350px);
}
ul{
    top:70px;
    position: absolute;
    width: 100%;
}
a{
    display: block;
    padding: 20px 5px;
    color: aquamarine;
}
a:hover{
    background-color: rgb(176,224,230);
    color:navy;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}
h1{
    position:static;
    text-align: center;
    
}
br{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: end;
    text-transform: translate(Y -30%);
}
h3{
    position:static;
    text-align: center;
}

img{
    margin: 0;
    padding: 0;
    align-items: center;

}